<div class="modal fade" id="formio-popup" tabindex="-1" aria-labelledby="popup-label" aria-hidden="true">
    <div class="modal-dialog" id="formio-popup-dialog">
        <div class="modal-content">
            <div id="formio-popup-content" style="padding: 10px; border: 10px; border-color:red;border-style: solid"></div>
        </div>
    </div>
</div>
