<div class="modal fade" id="formio-popup" tabindex="-1" aria-labelledby="popup-label" aria-hidden="true">
    <div class="modal-dialog" id="formio-popup-dialog">
        <div id="formio-popup-content" class="modal-content" style="padding: 10px; border: 10px; border-color:orange;border-style: solid; font-size: x-large;border-radius: 30px;text-align: center">
        </div>
    </div>
</div>
