{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/static/css/right_click.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="flex-container">
    <h1 style=" margin-right: 30px;" class="title-element"></h1>
        {% for f in filters %}
            {% if f.type == "select" %}
                <div class="form-group "><label class="control-label" for="{{ f.name }}"
                                                title="{{ f.tt }}">{{ f.label }}</label>
                    <select class="form-control table-filter" id="{{ f.name }}"
                            name="{{ f.name }} {{ f.multiple }}">
                        {% for o in f.choices %}
                            <option value="{{ o[0] }}"
                                    {% if o[0] == f.default %}selected{% endif %}>{{ o[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-group "><label class="control-label" for="photo-size-select" title="Foto grootte">Foto grootte</label>
            <select class="form-control table-filter" name="Grootte" id="photo-size-select">
                <option value="50">50%</option>
                <option value="75">75%</option>
                <option value="100">100%</option>
                <option value="150">150%</option>
            </select>
        </div>
        <div class="form-group "><label class="control-label" for="sort-on-select" title="Sorteer op">Sorteer op</label>
            <select class="form-control table-filter" name="Sorteer" id="sort-on-select">
                <option value="timestamp">Tijdstempel</option>
                <option value="name-firstname">Naam, voornaam</option>
                <option value="klas-name-firstname">Klas, naam, voornaam</option>
            </select>
        </div>
        <div class="form-group "><label class="control-label" for="nbr-registered" title="Aantal">Aantal</label>
            <input class="form-control" id="nbr-registered" value="0" size="5">
        </div>
        <div class="form-group "><label class="control-label" for="filter-date" title="Datum">Datum</label>
            <input type="date" class="form-control" id="filter-date" value="2000-08-21">
        </div>

        {% if "remove-all" in buttons %}
            <button class="btn btn-danger" type="button" onclick="remove_all_photos()">Alles verwijderen?</button>
        {% endif %}
    </div>
    <hr class="nice-green-line">
    <div class="right-click-canvas" id="canvas" ></div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module">
        import {item_clicked} from "/static/js/base/right_click.js";
        window.item_clicked = item_clicked;
        import {remove_all_photos} from "/static/js/project/overview.js";
        window.remove_all_photos = remove_all_photos;
    </script>
    <script type="module" src="/static/js/project/overview.js"></script>
{% endblock %}
