{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/static/css/right_click.css">
    <link rel="stylesheet" href="/static/css/popup.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="flex-container">
        <h1 style=" margin-right: 30px;" class="title-element"></h1>
        <div class="filters flex-container"></div>
        <div class="form-group "><label class="control-label" for="nbr-registered" title="Aantal">Aantal</label>
            <input class="form-control" id="nbr-registered" value="0" size="5">
        </div>
    </div>
    <hr class="nice-green-line">
    <div class="right-click-canvas" id="canvas"></div>

    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popup-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popup-label">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="popup-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleer</button>
                    <button type="button" class="btn btn-primary">Bewaren</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module">
        import {item_clicked} from "/static/js/base/right_click.js";
        window.item_clicked = item_clicked;
    </script>
    <script>
        const filters = {{ (filters or []) | tojson }};
        const popups = {{ (popups or {}) | tojson }};
    </script>
    <script type="module" src="/static/js/project/overview.js"></script>
{% endblock %}
