{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/static/css/right_click.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="flex-container">
        <h1 style=" margin-right: 30px;" class="title-element"></h1>
        {% if filters %}
            <div class="flex-container">
                {% for f in filters %}
                    {% if f.type == "select" %}
                        <div class="form-group "><label class="control-label" for="{{ f.name }}"
                                                        title="{{ f.tt }}">{{ f.label }}</label>
                            <select class="form-control overview-filter" id="{{ f.name }}"
                                    name="{{ f.name }} {{ f.multiple }}">
                                {% for o in f.choices %}
                                    <option value="{{ o[0] }}"
                                            {% if o[0] == f.default %}selected{% endif %}>{{ o[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if f.type == "text" or f.type == "date" %}
                        <div class="form-group "><label class="control-label" for="{{ f.name }}">{{ f.label }}</label>
                            <br><input type="{{ f.type }}" id="{{ f.name }}" name="{{ f.name }}" class="overview-filter">
                        </div>
                    {% endif %}
                    {% if f.type == "checkbox" %}
                        {% for b in f.boxes %}
                            <input type="checkbox" class="form-control overview-filter" id="{{ b[0] }}"
                                   name="{{ b[0] }}" value="{{ b[0] }}">
                            <label for="{{ b[0] }}">{{ b[1] }}</label>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <button class="btn btn-danger" type="button" onclick="clear_filter_setting()">Reset</button>
            </div>
            <hr class="nice-green-line">
        {% endif %}
        <div class="form-group "><label class="control-label" for="nbr-registered" title="Aantal">Aantal</label>
            <input class="form-control" id="nbr-registered" value="0" size="5">
        </div>
        {% if "remove-all" in buttons %}
            <button class="btn btn-danger" type="button" onclick="remove_all_photos()">Alles verwijderen?</button>
        {% endif %}
    </div>
    <hr class="nice-green-line">
    <div class="right-click-canvas" id="canvas"></div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module">
        import {item_clicked} from "/static/js/base/right_click.js";
        window.item_clicked = item_clicked;
        import {remove_all_photos, clear_filter_setting} from "/static/js/project/overview.js";
        window.remove_all_photos = remove_all_photos;
        window.clear_filter_setting = clear_filter_setting;
    </script>
    <script>
        const filters = {{ (filters or []) | tojson }};
    </script>
    <script type="module" src="/static/js/project/overview.js"></script>
{% endblock %}
